.header_container {
    //height: 140px;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 10px 30px;
    margin: 10px auto 0 auto;
    backdrop-filter: blur(40px);
    background: var(--dark-outline-transparent);
}

.logo_header_img {
    margin-right: 60px;
    width: 40px;
}

.header_nav_list {
    display: flex;
}

.header_nav_list ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.list_header_link {
    font-family: "Crimson Text", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.6);
}
.active {
    color: var(--white);
    text-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.6);
}
.header_user-panel {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header_shop {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header_money {
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: var(--tree-orange);
    text-shadow: 0px 0px 6px 0px var(--tree-orange);
}
.header_notification {
}

.header_setting {
}

.line_vertical {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0px;
    width: 30px;
    height: 0px;
    transform: rotate(-90deg);
}
.header_exit {
    cursor: pointer;
}
.header_enter-wrap {
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    font-family: var(--font-family);
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        color: var(--tree-orange);
        transition: 0.3s;
    }
}
.header_enter {
    transform: rotate(180deg);
}
