.btn_random{
    border-radius: 8px;
    width: 373px;
    height: 67px;
    box-shadow: 0px 5px 40px 0px #07ef9b;
    background: var(--green-full);
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: var(--white);
}
.btn_random:hover{
    border-radius: 8px;
    width: 373px;
    height: 67px;
    box-shadow: 0px 5px 40px 0px #c4d8d1;
    background: var(--green-full);
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: var(--white);
}
.container_random{
    padding-top: 20px;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    border-top:2px solid rgb(222, 148, 12) ;
    display: flex;
    justify-content: center;
}