.recording-modal-container {
    background-color: rgb(145, 151, 149);
    position: absolute;
    bottom: 45px;
}

.recording-modal-content-modal {
}
.recording-modal-content-controls {
}
.recording-modal-content-btn {
}
