.profile_container{
    display: flex;
    align-items: center;
}

.profile_username{
    font-family: "Crimson Text", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--white);
}

.profile_userimg{
    border: 3px solid var(--dark-outline-transparent);
    border-radius: 100px;
    width: 72px;
    height: 72px;
    margin-right: 14px;
}

.profile_status{
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 14px;
    text-align: center;
    color: var(--green-full);
    align-items: center;
    gap: 5px;
    display: flex;
}
.profile_status::before{
    content: '';
    display: block;
    border-radius: 100px;
    width: 8px;
    height: 8px;
    box-shadow: 0px 0px 6px 0px #08d7f9;
    background: var(--green-full);  
}